---
import { CreateCart } from "../utils/cart";
const { productId, productQty, productPrice } = Astro.props;
---

<astro-add
  data-product_id={productId}
  data-product_qty={productQty}
  data-product_price={productPrice}
>
  <button type="button" class="addCartBtn">Add to cart</button>
</astro-add>

<script>
  import { CreateCart } from "../utils/cart";

  class AstroButton extends HTMLElement {
    connectedCallback() {
      const productId = this.dataset.product_id as string;
      const productQty = this.dataset.product_qty as string;
      const productPrice = this.dataset.product_price as string;
      const addCartBtn = this.querySelector("button") as HTMLElement;

      addCartBtn.addEventListener("click", (e) => {
        e.preventDefault();
        console.log(productId, productPrice, productQty);
        CreateCart(productId, productQty, productPrice);
      });
    }
  }
  customElements.define("astro-add", AstroButton);
</script>
